.App {
  text-align: center;
}

.forms {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.upload-form, .retrieve-form {
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: space-around;
}
